.container{
    margin-bottom: 70px;
   
}


.orange-bg{
    background-color: #fceae8;
    border-radius: 10px;
}
.carousel-item{
    padding: 20px 40px;
}
.prize{
    color: #ff136f;
}

.buy-now-button{
    color:#fff;
    background-image: linear-gradient(to bottom, #ff5898 0%, #ff136f 100%);
    border-radius: 8px;
    cursor: pointer;
    padding: 9px 25px;

}

/* Categories */
.cat-1, .cat-2, .cat-3{
    padding: 10px 30px;
    color: #fff;
    border-radius: 10px;
}
.cat-1{
    background-color: #ff5898;
}
.cat-2{
    background-color: #17e956;
}
.cat-3{
    background-color: #5052d6;
}
.categories img{
    width: 100px;
}
/* -----shoes------ */

.card{
    border:none;
    box-shadow: 5px 5px 10px lightgray;
}
#contact{
    height: 300PX;
}
#contact h6{
    color:gray;
}
footer{
    text-align: center;
}